{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": "off",
    "jsx-a11y/anchor-has-content": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-extra-semi": 2,
    "react/jsx-no-bind": [{
      "allowBind": false
    }],
    "semi": 2,
    "react/prop-types": [
      "enabled",
      { "ignore": "ignore", "customValidators": "customValidator" }
    ]
  },
  "parser": "babel-eslint",
  "env": {
    "node": true
  }
}